.card-img-top {
    height: 200px;
    object-fit: cover;
}
.avatar-img {
    width: 40px;
    height: 40px;
}
#mainContent {
    display: none;
}
.section {
    display: none;
}
.section.active {
    display: block;
}